@import "src/styles/vars";

.date, .date-item, .date-item-value {
  display: flex;
}

.date-item {

  &-value, &-symbol {
    font-size: 48px;
    font-weight: 500;
    line-height: 0.88;
    letter-spacing: 2.6px;
    margin-bottom: 6px;
  }

  &-value {
    flex-direction: column;
    align-items: center;
  }

  &-symbol {
    margin: 0 4px;
  }

  &-name {
    font-size: 16px;
    line-height: 1.63;
    color: $dove-gray;
    font-weight: normal;
  }
}


.date-item:last-child .date-item-symbol {
  display: none;
}