@import 'src/styles/vars';

.container {
  cursor: pointer;
}

.btn {
  width: 60px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: $Concrete;
  font-size: 12px;
  cursor: pointer;

  svg {
    margin-right: 4px !important;
  }
}

.block > span, .block {
  display: block;
  width: 60px;
}