@import "src/styles/vars";

.layout {
  margin-top: 96px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 4px;
  border: 1px solid $SecondaryAlto;
  width: 400px;
  min-height: 232px;
  box-sizing: border-box;
  padding: 30px 15px;
  text-align: center;
  margin-top: 12px;

  &-text {
    font-size: 18px;
    line-height: 1.67;
    margin-top: 7px;
  }
}

.btn {
  width: 142px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  margin: 28px auto 0 auto;
}

.svg-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $Concrete;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-danger svg path {
  fill: $Flush-mahogany;
}

.loading {
  svg {
    width: 125px;
    height: 125px;
  }
}

@media(max-width: $sm) {
  .card {
    width: 325px;
  }
}