$dove-gray: #6c6c6c;
$gallery: #ededed;
$darkGallery: #eaeaea;
$lightGallery: #ECECEC;
$abbey: #b1b1b1;
$shark: #262728;
$Whisper: #F4F5F9;
$Alabaster: #f8f8f8;
$Alabaster-light: #fbfbfb;
$Concrete: #f3f3f3;
$Regent-gray: #8692a4;
$heavy-metal: #1e201d;
$Silver-chalice: #b1b1b1;
$Flush-mahogany: #ce3d3d;
$Fair-pink: #ffeeee;
$Mercury: #E9E9E9;
$Tusk: #e6f5d2;
$Tarawera: #072D4F;
$LaPalma: #2bbb18;
$Tangerine: #f48b00;
$DustyGray: #979797;
$Alto: #d8d8d8;
$Woodsmoke: #131619;
$Martinique: #2c2d49;
$BonJour: #e0dcdc;
$AthensGray: #f7f8fa;
$AltoDark: #dadada;
$SecondaryAlto: #d9d9d9;
$Nobel: #b5b5b5;
$DodgerBlue: #3273ff;
$JungleGreen: #26c362;
$Tundora: #444444;


$large-scale: 1600px;
$x-xl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$x-sm: 400px;

